* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffff;
  --secondry: #000000;
}

body {
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  background: var(--secondry);
  color: var(--primary);
  /* perspective: 500px; */
  height: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 1rem;
  margin: 0em 4em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #ffff;
  font-size: 1.2rem;
  transition: 0.3s ease-in;
  cursor: pointer;
  margin: 0 1em;
  text-transform: uppercase;
}

.nav-links a {
  position: relative;
  padding: 4px;
  font-size: 1.2rem;
  /* font-weight: 700; */
  padding: 0.4em 0em;
  letter-spacing: 3px;
}

.contact {
  color: #ffff;
}

.active {
  border-bottom: 2px solid var(--primary);
}

.nav-links a:hover {
  /* opacity: 0.6; */
  color: hsl(240, 75%, 50%);
  /* border-bottom: 2px solid hsl(240, 50%, 10%); */
}

.nav-links .borderAnimation:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--primary);
  transition: 0.3s;
}

.nav-links .borderAnimation:hover:after {
  width: 100%;
}

.logo a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--primary);
  /* transition:.3s ease all; */
  cursor: pointer;
}

.logo:hover {
  /* transform:translate(2px,4px); */
  transform: scale(1.1)
}

.welcome-msg {
  margin-top: 30vh;
  max-width: 1180px;
  height: 216px;
  width: 90%;
  margin-left: 5rem;
  line-height: 1.5em;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}


@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }

  50% {
    filter: blur(0.5rem);
  }

  100% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
  }
} */

.role h2 {
  font-size: 1em;
}

.burger div {
  width: 30px;
  height: 2px;
  background: #ffff;
  margin: 5px;
}

.burger {
  display: none;
}

h1 span {
  font-size: 3rem;
  font-family: 'Bad Script', cursive;
  color: #111;
  animation: glowing 2s linear infinite;
  font-weight: bold;
}

@keyframes glowing {

  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  5%,
  95% {
    color: #111;
    text-shadow: none;
    filter: blur(0px);
  }
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: .25s;
}

h1 span:nth-child(3) {
  animation-delay: .5s;
}

h1 span:nth-child(4) {
  animation-delay: .75s;
}

h1 span:nth-child(5) {
  animation-delay: 1s;
}

h1 span:nth-child(6) {
  animation-delay: 1.25s;
}

h1 span:nth-child(7) {
  animation-delay: 1.5s;
}

h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

/* dark mode css  */
.dark {
  background: black;
  color: #ffff !important;
}

.light {
  background: #fff;
  color: black !important;
}

.modeChanger {
  border-radius: 50px;
  position: absolute;
  right: 0;
  border: 1px solid white;
  text-align: center;
  width: 35px;
  margin-right: 0.4em;
  height: fit-content;
  cursor: pointer;
  height: 3em;
}

.twomodes i {
  font-size: 1.4rem;
  color: #f06000;
}

.twomodes button {
  background: none;
  border: none;
  cursor: pointer;
}

/* about section css  */
.about-section {
  display: flex;
  margin: 15rem 5.5rem;
  overflow-x: hidden;
}

.child {
  margin: 10px;
  border: 1px solid black;
}

.myself {
  width: 60%;
  /* margin: 2em 0; */
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -1.5em auto;
}

.contact-logo li {
  flex-basis: 20%;
  text-align: center;
  color: #F8F8F8;
}

.contact-logo li a {
  font-size: 2.5rem;
}

.contact-logo li a i {
  /* background-color: white; */
  color: #ffff !important;
  padding: 0.1em;
}

.githuba {
  border-radius: 50px;
  /* padding: 0.5em auto; */
}

.myself p {
  margin: 3rem 0;
  font-size: 1.3rem;
  color: #F8F8F8;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.img-sec {
  background-image: url("myimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
  width: 35%;
  margin-right: 30px;
  border: none;
}





/* media queries  */
@media screen and (max-width: 780px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60rem;
    /* display: none; */
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .burger {
    display: block;
    position: absolute;
    right: 2%;
    top: 1%;
  }

  body {
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-bottom: 1rem;
  }

  .open {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60rem;
    transition: .4s ease-in;
    opacity: 98%;
    z-index: -1 !important;
    top: -7vh;
    left: calc(50% + 10%);
    border-radius: 30px;
    box-shadow: rgba(2, 12, 27, .3);
    transform: translate(0%);
  }
.role h2{
  font-size: 1.1em;
  text-align: left;
}
  .role h1{
    font-size: 2em;
    text-align: left;
  }

  .welcome-msg {
    margin-top: 8.5em !important;
    /* max-width: 1180px; */
    height: 100%;
    /* width: 90%; */
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 2em;
    display: flex;
    text-align: center;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: hidden; */
    /* white-space: nowrap; */
    margin: 1em 1em;
  }

  .img-sec {
    width: 90%;
    border: none;
    margin-top: 20em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .myself {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
  }

  .myself p {
    margin: 3rem 0;
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #F8F8F8;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }

  .contact-logo {
    font-size: medium;
    margin: 0px 0px;
  }

  /* .heading{
    font-size: 3rem;
  } */
  /* .welcome-msg{
    margin-top:30vh;
  max-width: 1180px;
  height: 216px;
  width: 100%;
  margin-left: 1rem;
  line-height: 1.5em;
  font-size: 3em;
  } */
}