* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffff;
  --secondry: #000000;
  --paragraphFontSize:1.3rem;
}

html {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
}

body {
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  background: var(--secondry);
  /* color: var(--secondry); */
  /* perspective: 500px; */
  height: 1000rem;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 1rem;
  margin: 0em 4em;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #ffff;
  font-size: 1.2rem;
  transition: 0.3s ease-in;
  cursor: pointer;
  margin: 0 1em;
  text-transform: uppercase;
}

.nav-links a {
  position: relative;
  padding: 4px;
  font-size: 1.2rem;
  /* font-weight: 700; */
  padding: 0.4em 0em;
  letter-spacing: 3px;
}

.contact {
  color: #ffff;
}

.active {
  border-bottom: 2px solid var(--primary);
}

.nav-links a:hover {
  /* opacity: 0.6; */
  color: hsl(240, 75%, 50%);
  /* border-bottom: 2px solid hsl(240, 50%, 10%); */
}

.nav-links .borderAnimation:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--primary);
  transition: 0.3s;
}

.nav-links .borderAnimation:hover:after {
  width: 100%;
}

.logo a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--primary);
  /* transition:.3s ease all; */
  cursor: pointer;
}

.logo:hover {
  /* transform:translate(2px,4px); */
  transform: scale(1.1)
}

.welcome-msg {
  margin-top: 30vh;
  max-width: 1180px;
  height: 216px;
  width: 90%;
  margin-left: 5rem;
  line-height: 1.5em;
  /* font-size: 2.8em; */
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}


@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }

  50% {
    filter: blur(0.5rem);
  }

  100% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
  }
}

.role h1 {
  line-height: 1em;
  font-size: 4.5rem;
}

.role h2 {
  font-size: 1em;
  line-height: 1.5em;
  font-size: 3em;
}

/* .burger div {
  width: 30px;
  height: 2px;
  background: #ffff;
  margin: 5px;
} */

.burger {
  display: none;
}


h1 span {
  font-size: 3rem;
  font-family: 'Bad Script', cursive;
  color: #111;
  animation: glowing 2s linear infinite;
  font-weight: bold;
}

@keyframes glowing {

  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  5%,
  95% {
    color: #111;
    text-shadow: none;
    filter: blur(0px);
  }
}

/* dark mode css  */
.dark{
  background: black;
  color: #ffff !important;
}

.light{
  background: #fff;
  color: black !important;
}
/* .light .logo a{
  color: var(--secondry) !important;
}
.light .nav-links{
  color: var(--secondry);
}
.light .contact{
  color: var(--secondry);

}
.light .text{
  color: var(--secondry);
}
.light .myself p{
  color: var(--secondry);
  
} */
.modeChanger {
  border-radius: 50px;
  position: absolute;
  right: 0;
  border: 1px solid white;
  text-align: center;
  width: 35px;
  margin-right: 0.4em;
  height: fit-content;
  cursor: pointer;
  height: 3em;
}

.twomodes i {
  font-size: 1.4rem;
  color: #f06000;
}

.twomodes button {
  background: none;
  border: none;
  cursor: pointer;
}

/* about section css  */
.about-section {
  display: flex;
  margin: 15em 5.5em 9.5em 5.5em;
  overflow-x: hidden;
}

.child {
  margin: 10px;
  /* border: 1px solid black; */
}

.myself {
  width: 60%;
  /* margin: 2em 0; */
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -1.5em auto;
}

.contact-logo li {
  flex-basis: 20%;
  text-align: center;
  color: #F8F8F8;
}

.contact-logo li a {
  font-size: 2.5rem;
}

.contact-logo li a i {
  /* background-color: white; */
  color: #ffff !important;
  padding: 0.1em;
}

.contact-logo a i:hover {
  transform: scale(1.1);
  color: #F06000 !important;
}

.githuba {
  border-radius: 50px;
  /* padding: 0.5em auto; */
}

.myself p {
  margin: 3rem 0;
  font-size: 1.3rem;
  color: #F8F8F8;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.img-sec {
  background-image: url(myimg-fotor-bg-remover-20230812022.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
  width: 35%;
  margin-right: 1.5rem;
  border: none;
  background-position: center;
}

/* skills css  */
.skills {
  height: 100%;
}

.skills-heading {
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
}

.skills-heading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  font-weight: bold;
}

.skills-heading h2 span {
  border-bottom: 5px solid #f06000;
}

.skills .main-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .7rem;
  text-align: center;
  margin: 6em auto;
}

.main-skills li {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 1.9em;
  margin-bottom: 3em;

}

.main-skills li i {
  font-size: 4em;
  border: none;
  line-height: 1em;
}

.main-skills li i:hover {
  transform: scale(1.1);
  color: #F06000;
}

.main-skills li p {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.spacer-20 {
  height: 20vh;
}

/* clear background */
h2 {
  text-align: left;
  /* padding: 16px; */
  /* margin: 0; */
}

/* crops animations that exceeds one line area */
.line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;

}

.bline {
  background: #F8F8F8;
  height: 4px;
  width: 45px;
  margin-bottom: 10px;
}

/* flipping class and key frames*/

.all-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 540px;
  margin: 6em auto;
}

.amazon-image {
  margin-right: 1.5em;
  width: 90%;
  flex-basis: 50%;

}

.amazon-image img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  /* background: black; */
  border-radius: 10px;
  width: calc(83% - 50px);
}

.about-project {
  /* margin-left: 3.5em; */
  flex-basis: 50%;
}

.about-project p {
  margin: 0.5em auto;
  font-size: 1.4em;
}

.heading-style {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.8em 0;
  font-size: 1.5em;
}

.made-by {
  display: flex;
  justify-content: flex-start;
  gap: 0.8em;
  align-items: flex-start;
}

.made-by li {
  list-style: none;
}

.made-by li i {
  font-size: 2.5em;
  margin: 0 0.1em;
}

.made-by li i:hover {
  color: #ffa818;
  transform: scale(1.1);
}

.project-links {
  margin: 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255),
    0 0 100px rgb(0, 140, 255);
}

/* .linkbtn{
  border: none;
    background: none;
    color: #f8f8f8;
    font-size: 0.78em;
    text-transform: uppercase;
    font-weight: 500;
} */
.linkbtn:hover {
  border-bottom: 3px solid #ffa818;
}

.container {
  height: 100%;
  width: 100%;
  justify-content: start;
  align-items: self-start;
  display: flex;
}

.text {
  font-weight: bold;
  font-size: 3rem;
  color: #FAFAFA;
  line-height: 1.5em;
  text-transform: uppercase;
  box-shadow: inset 0px -6px 0px 0px #FFA818;
}

.dud {
  color: #757575;
}

.login-box textarea {
  width: 500px;
}

.login-box {
  position: absolute;
  top: 53%;
  left: 15%;
  width: 580px;
  padding: 40px;
  height: 360px;
  transform: translate(-21%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* contact section css  */
.hero-contact {
  width: 100%;
}

.inner-contact-section {
  max-width: 80%;
  margin: 4em auto;
  display: flex;
  gap: 1rem;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: var(--secondry);
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  width: 100%;
  font-size: 1.3em;
  padding: 8px 10px;
  background-color: #F06000;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
}

.contact-btn {
  display: grid;
  place-items: center;
  background: #F06000;
  margin: 0.5rem 7rem;

}
.contact-btn:hover{
  transition: 0.6s linear;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
}
.contact-form{
  width: calc(50% - 50px);
}
.contact-about{
  width: 50%;
  margin-left: 2rem;
}
.nav-links:hover a:not(:hover) {
  filter: blur(50%);
  color: transparent;
  text-shadow: 0 0 5px rgb(230, 230, 236);
}

.contact-about p{
  font-size: var(--paragraphFontSize);
  margin-bottom: 2rem;
  /* padding: 1rem; */
}
.last-element{
  line-height: 2.5rem;
}
.contact-about p a:hover{
  border-bottom: 5px solid #F06000;
  transition: all ease .2s ;

}




/* media queries  */
@media screen and (max-width: 600px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60rem;
    /* display: none; */
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .text {
    font-size: 1em;
  }

  .container {
    height: auto;
    margin: 0.5em auto;
  }

  .burger {
    display: block;
    position: absolute;
    right: 2%;
    top: 13%;
    margin: 3rem auto;
  }

  body {
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-bottom: 1rem;
  }

  .logo a {
    opacity: 0;
  }

  .open {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60rem;
    transition: .4s ease-in;
    opacity: 98%;
    z-index: -1 !important;
    top: -7vh;
    left: calc(50% + 10%);
    border-radius: 30px;
    box-shadow: rgba(2, 12, 27, .3);
    transform: translate(0%);
  }

  .role h2 {
    font-size: 1.1em;
    text-align: left;
  }

  .role h1 {
    font-size: 2em;
    text-align: left;
  }

  .welcome-msg {
    margin-top: 8.5em !important;
    /* max-width: 1180px; */
    height: 100%;
    /* width: 90%; */
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 2em;
    display: flex;
    text-align: center;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: hidden; */
    /* white-space: nowrap; */
    margin: 1em 1em;
  }

  .img-sec {
    width: 90%;
    border: none;
    margin-top: 20em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .myself {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
  }

  .myself p {
    margin: 3rem 0;
    font-size: 1rem;
    margin-bottom: 1.5em;
    color: #F8F8F8;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }

  .contact-logo {
    font-size: medium;
    margin: 0px 0px;
  }

  .contact-logo a i:hover {
    transform: scale(1.1);
    color: #F06000 !important;
  }

  .skills .main-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
    text-align: center;
    margin: 2em auto;
    width: 100%;
  }

  .main-skills li p {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .main-skills li {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    margin-bottom: 2em;
    /* margin-left: auto; */
    align-items: center;
  }

  .spacer-20 {
    height: 5vh;
  }

  .main-skills li i:hover {
    transform: scale(1.1);
    color: #F06000;
  }

  .flipX {
    animation: 1s anim-flipX ease infinite;
  }

  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }

    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }

    100% {
      /* animate nothing to pause animation at the end */
      opacity: 1;
      transform: rotateX(720deg);
    }
  }

  .all-projects {
    display: flex;
    flex-direction: column;
  }

  .amazon-image {
    width: 100%;
    flex-basis: 100%;
    margin-right: 0;
    width: 100%;
  }

  .amazon-image img {
    width: 100%;
    margin: 2rem auto;
  }

  .skills {
    margin: 10rem auto;
    text-align: center;
  }

  .project-links {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .made-by {
    /* align-items: center; */
    justify-content: center;
  }

  .skills-heading h2 span {
    text-align: center;
  }

  .project-links span {
    visibility: hidden;
    opacity: 0;
  }

  /* contact section css  */
.inner-contact-section{
  display: flex;
  height: fit-content !important ;
  flex-direction: column;
  width: 100%;
}
.contact-form{
  width: 100%;
}
.contact-btn{
  margin: 0;
}
.contact-about{
  width: 100%;
  margin: 1rem auto;
}
.contact-about p a{
  font-size: 1.2rem;
}
.hero-contact{
  margin-top: 15rem;
}
}

/* .welcome-msg{
    margin-top:30vh;
  max-width: 1180px;
  height: 216px;
  width: 100%;
  margin-left: 1rem;
  line-height: 1.5em;
  font-size: 3em;
  } */